body {
  height: 100vh;
  background: linear-gradient(to top left, #ffff00, #00ffff);
}

div,
h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  padding: 10px;
}

h1 {
  font-size: 50px;
  line-height: 1.3;
  width: 100%;
  padding: 10px;
}

label {
  margin: 10px;
  font-weight: bold;
}

textarea {
  resize: none;
}
